!--- URXVT ---!

URxvt.scrollBar:				False
URxvt.font:						xft:Source Code Pro for Powerline:size=10,\
                                xft:Unifont:antialias=false:size=10,\
                                xft:Siji:antialias=false:size=10
URxvt.antialias:				False
URxvt.buffered:					False
!URxvt.transparent:				True
!URxvt.shading:					25
URxvt.depth:					32

Xft.autohint:					1
Xft.lcdfilter:					lcddefault
Xft.hinting:					1
Xft.antialias:					1
Xft.rgba:						rgb
